src/CDSDesktop/CDS.Client.BusinessLayer/Service References/CDSWebService/CDSService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CDSService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:22220/CDSService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:22220/CDSService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:22220/CDSService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CDS.Client.DataAccessLayer.DB" />
      <xsd:import schemaLocation="http://localhost:22220/CDSService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:22220/CDSService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/CDS.Client.DataAccessLayer.Types" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICDSService_SaveDocument_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveDocument" />
  </wsdl:message>
  <wsdl:message name="ICDSService_SaveDocument_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveDocumentResponse" />
  </wsdl:message>
  <wsdl:message name="ICDSService_PrintDocument_InputMessage">
    <wsdl:part name="parameters" element="tns:PrintDocument" />
  </wsdl:message>
  <wsdl:message name="ICDSService_PrintDocument_OutputMessage">
    <wsdl:part name="parameters" element="tns:PrintDocumentResponse" />
  </wsdl:message>
  <wsdl:message name="ICDSService_ApproveDocument_InputMessage">
    <wsdl:part name="parameters" element="tns:ApproveDocument" />
  </wsdl:message>
  <wsdl:message name="ICDSService_ApproveDocument_OutputMessage">
    <wsdl:part name="parameters" element="tns:ApproveDocumentResponse" />
  </wsdl:message>
  <wsdl:message name="ICDSService_CancelDocument_InputMessage">
    <wsdl:part name="parameters" element="tns:CancelDocument" />
  </wsdl:message>
  <wsdl:message name="ICDSService_CancelDocument_OutputMessage">
    <wsdl:part name="parameters" element="tns:CancelDocumentResponse" />
  </wsdl:message>
  <wsdl:message name="ICDSService_RejectDocument_InputMessage">
    <wsdl:part name="parameters" element="tns:RejectDocument" />
  </wsdl:message>
  <wsdl:message name="ICDSService_RejectDocument_OutputMessage">
    <wsdl:part name="parameters" element="tns:RejectDocumentResponse" />
  </wsdl:message>
  <wsdl:message name="ICDSService_SaveJobLines_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveJobLines" />
  </wsdl:message>
  <wsdl:message name="ICDSService_SaveJobLines_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveJobLinesResponse" />
  </wsdl:message>
  <wsdl:message name="ICDSService_GenerateOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:GenerateOrder" />
  </wsdl:message>
  <wsdl:message name="ICDSService_GenerateOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:GenerateOrderResponse" />
  </wsdl:message>
  <wsdl:message name="ICDSService_GetAvailablePrinter_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAvailablePrinter" />
  </wsdl:message>
  <wsdl:message name="ICDSService_GetAvailablePrinter_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAvailablePrinterResponse" />
  </wsdl:message>
  <wsdl:message name="ICDSService_DistributedTransactionServiceRunning_InputMessage">
    <wsdl:part name="parameters" element="tns:DistributedTransactionServiceRunning" />
  </wsdl:message>
  <wsdl:message name="ICDSService_DistributedTransactionServiceRunning_OutputMessage">
    <wsdl:part name="parameters" element="tns:DistributedTransactionServiceRunningResponse" />
  </wsdl:message>
  <wsdl:message name="ICDSService_ProcessStatements_InputMessage">
    <wsdl:part name="parameters" element="tns:ProcessStatements" />
  </wsdl:message>
  <wsdl:message name="ICDSService_ProcessStatements_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProcessStatementsResponse" />
  </wsdl:message>
  <wsdl:message name="ICDSService_ProcessStatementsUpdate_InputMessage">
    <wsdl:part name="parameters" element="tns:ProcessStatementsUpdate" />
  </wsdl:message>
  <wsdl:message name="ICDSService_ProcessStatementsUpdate_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProcessStatementsUpdateResponse" />
  </wsdl:message>
  <wsdl:portType name="ICDSService">
    <wsdl:operation name="SaveDocument">
      <wsdl:input wsaw:Action="http://tempuri.org/ICDSService/SaveDocument" message="tns:ICDSService_SaveDocument_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICDSService/SaveDocumentResponse" message="tns:ICDSService_SaveDocument_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PrintDocument">
      <wsdl:input wsaw:Action="http://tempuri.org/ICDSService/PrintDocument" message="tns:ICDSService_PrintDocument_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICDSService/PrintDocumentResponse" message="tns:ICDSService_PrintDocument_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ApproveDocument">
      <wsdl:input wsaw:Action="http://tempuri.org/ICDSService/ApproveDocument" message="tns:ICDSService_ApproveDocument_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICDSService/ApproveDocumentResponse" message="tns:ICDSService_ApproveDocument_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CancelDocument">
      <wsdl:input wsaw:Action="http://tempuri.org/ICDSService/CancelDocument" message="tns:ICDSService_CancelDocument_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICDSService/CancelDocumentResponse" message="tns:ICDSService_CancelDocument_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RejectDocument">
      <wsdl:input wsaw:Action="http://tempuri.org/ICDSService/RejectDocument" message="tns:ICDSService_RejectDocument_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICDSService/RejectDocumentResponse" message="tns:ICDSService_RejectDocument_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveJobLines">
      <wsdl:input wsaw:Action="http://tempuri.org/ICDSService/SaveJobLines" message="tns:ICDSService_SaveJobLines_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICDSService/SaveJobLinesResponse" message="tns:ICDSService_SaveJobLines_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GenerateOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/ICDSService/GenerateOrder" message="tns:ICDSService_GenerateOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICDSService/GenerateOrderResponse" message="tns:ICDSService_GenerateOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAvailablePrinter">
      <wsdl:input wsaw:Action="http://tempuri.org/ICDSService/GetAvailablePrinter" message="tns:ICDSService_GetAvailablePrinter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICDSService/GetAvailablePrinterResponse" message="tns:ICDSService_GetAvailablePrinter_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DistributedTransactionServiceRunning">
      <wsdl:input wsaw:Action="http://tempuri.org/ICDSService/DistributedTransactionServiceRunning" message="tns:ICDSService_DistributedTransactionServiceRunning_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICDSService/DistributedTransactionServiceRunningResponse" message="tns:ICDSService_DistributedTransactionServiceRunning_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ProcessStatements">
      <wsdl:input wsaw:Action="http://tempuri.org/ICDSService/ProcessStatements" message="tns:ICDSService_ProcessStatements_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICDSService/ProcessStatementsResponse" message="tns:ICDSService_ProcessStatements_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ProcessStatementsUpdate">
      <wsdl:input wsaw:Action="http://tempuri.org/ICDSService/ProcessStatementsUpdate" message="tns:ICDSService_ProcessStatementsUpdate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICDSService/ProcessStatementsUpdateResponse" message="tns:ICDSService_ProcessStatementsUpdate_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICDSService" type="tns:ICDSService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SaveDocument">
      <soap:operation soapAction="http://tempuri.org/ICDSService/SaveDocument" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PrintDocument">
      <soap:operation soapAction="http://tempuri.org/ICDSService/PrintDocument" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ApproveDocument">
      <soap:operation soapAction="http://tempuri.org/ICDSService/ApproveDocument" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelDocument">
      <soap:operation soapAction="http://tempuri.org/ICDSService/CancelDocument" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RejectDocument">
      <soap:operation soapAction="http://tempuri.org/ICDSService/RejectDocument" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveJobLines">
      <soap:operation soapAction="http://tempuri.org/ICDSService/SaveJobLines" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerateOrder">
      <soap:operation soapAction="http://tempuri.org/ICDSService/GenerateOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAvailablePrinter">
      <soap:operation soapAction="http://tempuri.org/ICDSService/GetAvailablePrinter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DistributedTransactionServiceRunning">
      <soap:operation soapAction="http://tempuri.org/ICDSService/DistributedTransactionServiceRunning" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcessStatements">
      <soap:operation soapAction="http://tempuri.org/ICDSService/ProcessStatements" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcessStatementsUpdate">
      <soap:operation soapAction="http://tempuri.org/ICDSService/ProcessStatementsUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CDSService">
    <wsdl:port name="BasicHttpBinding_ICDSService" binding="tns:BasicHttpBinding_ICDSService">
      <soap:address location="http://localhost:22220/CDSService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>