CDSDesktop/CDS.Client.BusinessLayer/Service References/CDSWebService/CDSService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/CDS.Client.DataAccessLayer.DB" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CDS.Client.DataAccessLayer.DB" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:22220/CDSService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:22220/CDSService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="SYS_DOC_Header">
    <xs:sequence>
      <xs:element minOccurs="0" name="BOMDocumentId" type="xs:long" />
      <xs:element minOccurs="0" name="BackOrder" nillable="true" type="tns:SYS_DOC_Header" />
      <xs:element minOccurs="0" name="CalendarId" nillable="true" type="xs:long" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ChangeList" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="Comment" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="CreatedOn" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DocumentNumber" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="Generated" type="xs:boolean" />
      <xs:element minOccurs="0" name="HasChanges" type="xs:boolean" />
      <xs:element minOccurs="0" name="ITM_BOM_Document" nillable="true" type="tns:ITM_BOM_Document" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="IgnoreChanges" type="xs:boolean" />
      <xs:element minOccurs="0" name="JOB_Header" nillable="true" type="tns:JOB_Header" />
      <xs:element minOccurs="0" name="ORG_TRX_Header" nillable="true" type="tns:ORG_TRX_Header" />
      <xs:element minOccurs="0" name="Processed" type="xs:boolean" />
      <xs:element minOccurs="0" name="SYS_DOC_Line" nillable="true" type="tns:ArrayOfSYS_DOC_Line" />
      <xs:element minOccurs="0" name="SYS_DOC_Type" nillable="true" type="tns:SYS_DOC_Type" />
      <xs:element minOccurs="0" name="SYS_Person" nillable="true" type="tns:SYS_Person" />
      <xs:element minOccurs="0" name="SYS_Tracking" nillable="true" type="tns:SYS_Tracking" />
      <xs:element minOccurs="0" name="SalesOrder" nillable="true" type="tns:SYS_DOC_Header" />
      <xs:element minOccurs="0" name="TaxInvoice" nillable="true" type="tns:SYS_DOC_Header" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TrackId" type="xs:long" />
      <xs:element minOccurs="0" name="TypeId" nillable="true" type="xs:unsignedByte" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SYS_DOC_Header" nillable="true" type="tns:SYS_DOC_Header" />
  <xs:complexType name="ITM_BOM_Document">
    <xs:sequence>
      <xs:element minOccurs="0" name="CancelParent" type="xs:long" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ChangeList" nillable="true" type="q2:ArrayOfstring" />
      <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="CreatedOn" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="HasChanges" type="xs:boolean" />
      <xs:element minOccurs="0" name="HeaderId" type="xs:long" />
      <xs:element minOccurs="0" name="ITM_BOM_Recipe" nillable="true" type="tns:ITM_BOM_Recipe" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="IgnoreChanges" type="xs:boolean" />
      <xs:element minOccurs="0" name="ItemResultId" type="xs:long" />
      <xs:element minOccurs="0" name="QuantityActualResult" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="QuantityExpectedResult" type="xs:decimal" />
      <xs:element minOccurs="0" name="RecipeId" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ITM_BOM_Document" nillable="true" type="tns:ITM_BOM_Document" />
  <xs:complexType name="ITM_BOM_Recipe">
    <xs:sequence>
      <xs:element minOccurs="0" name="Archived" type="xs:boolean" />
      <xs:element minOccurs="0" name="Building" nillable="true" type="xs:decimal" />
      <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ChangeList" nillable="true" type="q3:ArrayOfstring" />
      <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="CreatedOn" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HasChanges" type="xs:boolean" />
      <xs:element minOccurs="0" name="ITM_BOM_Document" nillable="true" type="tns:ArrayOfITM_BOM_Document" />
      <xs:element minOccurs="0" name="ITM_BOM_RecipeLine" nillable="true" type="tns:ArrayOfITM_BOM_RecipeLine" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="IgnoreChanges" type="xs:boolean" />
      <xs:element minOccurs="0" name="ItemResultId" type="xs:long" />
      <xs:element minOccurs="0" name="QuantityResult" type="xs:decimal" />
      <xs:element minOccurs="0" name="UnBuilding" nillable="true" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ITM_BOM_Recipe" nillable="true" type="tns:ITM_BOM_Recipe" />
  <xs:complexType name="ArrayOfITM_BOM_Document">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ITM_BOM_Document" nillable="true" type="tns:ITM_BOM_Document" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfITM_BOM_Document" nillable="true" type="tns:ArrayOfITM_BOM_Document" />
  <xs:complexType name="ArrayOfITM_BOM_RecipeLine">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ITM_BOM_RecipeLine" nillable="true" type="tns:ITM_BOM_RecipeLine" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfITM_BOM_RecipeLine" nillable="true" type="tns:ArrayOfITM_BOM_RecipeLine" />
  <xs:complexType name="ITM_BOM_RecipeLine">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" type="xs:decimal" />
      <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ChangeList" nillable="true" type="q4:ArrayOfstring" />
      <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="CreatedOn" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="HasChanges" type="xs:boolean" />
      <xs:element minOccurs="0" name="ITM_BOM_Recipe" nillable="true" type="tns:ITM_BOM_Recipe" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="IgnoreChanges" type="xs:boolean" />
      <xs:element minOccurs="0" name="ItemId" type="xs:long" />
      <xs:element minOccurs="0" name="LineItem" nillable="true" type="tns:VW_LineItem" />
      <xs:element minOccurs="0" name="OnHand" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Quantity" type="xs:decimal" />
      <xs:element minOccurs="0" name="RecipeId" type="xs:long" />
      <xs:element minOccurs="0" name="Total" nillable="true" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ITM_BOM_RecipeLine" nillable="true" type="tns:ITM_BOM_RecipeLine" />
  <xs:complexType name="VW_LineItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountCostofSalesId" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="AccountId" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="AccountInventoryId" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="AccountTypeId" nillable="true" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="Archived" type="xs:boolean" />
      <xs:element minOccurs="0" name="BalanceAmount" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Barcode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Category" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodeMain" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodeSub" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="CreatedOn" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DiscountCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstPurchased" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FirstSold" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Grouping" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="InventoryId" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="LabelFlag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastMovement" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LastPurchased" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LastSold" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LocationMain" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LocationSecondary" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaximumStockLevel" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="MinimumStockLevel" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OnHand" type="xs:decimal" />
      <xs:element minOccurs="0" name="OnOrder" type="xs:decimal" />
      <xs:element minOccurs="0" name="OnReserve" type="xs:decimal" />
      <xs:element minOccurs="0" name="ProfitMargin" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="RequireSerial" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="SafetyStock" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="SellingPackSize" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="ShortName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StockType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SubCategory" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SupplierStockCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TypeId" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="UnitAverage" type="xs:decimal" />
      <xs:element minOccurs="0" name="UnitCost" type="xs:decimal" />
      <xs:element minOccurs="0" name="UnitPrice" type="xs:decimal" />
      <xs:element minOccurs="0" name="WarehousingCost" nillable="true" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VW_LineItem" nillable="true" type="tns:VW_LineItem" />
  <xs:complexType name="JOB_Header">
    <xs:sequence>
      <xs:element minOccurs="0" name="BillingAddressCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BillingAddressLine1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BillingAddressLine2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BillingAddressLine3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BillingAddressLine4" nillable="true" type="xs:string" />
      <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ChangeList" nillable="true" type="q5:ArrayOfstring" />
      <xs:element minOccurs="0" name="CompanyId" type="xs:long" />
      <xs:element minOccurs="0" name="ContactPerson" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContactTelephone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="CreatedOn" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Date1" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Date2" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Date3" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateFirstPrinted" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateLastPrinted" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="HasChanges" type="xs:boolean" />
      <xs:element minOccurs="0" name="HeaderId" type="xs:long" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="IgnoreChanges" type="xs:boolean" />
      <xs:element minOccurs="0" name="ReferenceLong1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReferenceLong2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReferenceLong3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReferenceLong4" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReferenceLong5" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReferenceShort1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReferenceShort10" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReferenceShort2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReferenceShort3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReferenceShort4" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReferenceShort5" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReferenceShort6" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReferenceShort7" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReferenceShort8" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReferenceShort9" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShippingAddressCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShippingAddressLine1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShippingAddressLine2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShippingAddressLine3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShippingAddressLine4" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telephone" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="JOB_Header" nillable="true" type="tns:JOB_Header" />
  <xs:complexType name="ORG_TRX_Header">
    <xs:sequence>
      <xs:element minOccurs="0" name="BillingAddressCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BillingAddressLine1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BillingAddressLine2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BillingAddressLine3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BillingAddressLine4" nillable="true" type="xs:string" />
      <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ChangeList" nillable="true" type="q6:ArrayOfstring" />
      <xs:element minOccurs="0" name="CompanyId" type="xs:long" />
      <xs:element minOccurs="0" name="CompanyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContactPerson" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContactTelephone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="CreatedOn" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateFirstPrinted" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateLastPrinted" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DatePosted" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateValid" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FirstPrintedBy" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="HasChanges" type="xs:boolean" />
      <xs:element minOccurs="0" name="HeaderId" type="xs:long" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="IgnoreChanges" type="xs:boolean" />
      <xs:element minOccurs="0" name="LastPrintedBy" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="ORG_Company" nillable="true" type="tns:ORG_Company" />
      <xs:element minOccurs="0" name="ORG_TRX_ShippingType" nillable="true" type="tns:ORG_TRX_ShippingType" />
      <xs:element minOccurs="0" name="ReferenceLong1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReferenceLong2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReferenceLong3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReferenceLong4" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReferenceLong5" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReferenceShort1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReferenceShort2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReferenceShort3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReferenceShort4" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReferenceShort5" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Rounding" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="ShippingAddressCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShippingAddressLine1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShippingAddressLine2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShippingAddressLine3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShippingAddressLine4" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShippingTypeId" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="Telephone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalAccount" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="TotalCash" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="TotalCredit" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="VatNumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ORG_TRX_Header" nillable="true" type="tns:ORG_TRX_Header" />
  <xs:complexType name="ORG_Company">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountId" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="AccountLimit" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Active" type="xs:boolean" />
      <xs:element minOccurs="0" name="AreaCode" nillable="true" type="xs:string" />
      <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ChangeList" nillable="true" type="q7:ArrayOfstring" />
      <xs:element minOccurs="0" name="CostCategoryId" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="CountryCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="CreatedOn" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CustomValue1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomValue2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomValue3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomValue4" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomValue5" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomValue6" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DiscountCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EntityId" type="xs:long" />
      <xs:element minOccurs="0" name="HasChanges" type="xs:boolean" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="IgnoreChanges" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsNewEntity" type="xs:boolean" />
      <xs:element minOccurs="0" name="ORG_CompanyAddress" nillable="true" type="tns:ArrayOfORG_CompanyAddress" />
      <xs:element minOccurs="0" name="ORG_CostCategory" nillable="true" type="tns:ORG_CostCategory" />
      <xs:element minOccurs="0" name="ORG_Distribution" nillable="true" type="tns:ArrayOfORG_Distribution" />
      <xs:element minOccurs="0" name="ORG_Entity" nillable="true" type="tns:ORG_Entity" />
      <xs:element minOccurs="0" name="ORG_History" nillable="true" type="tns:ArrayOfORG_History" />
      <xs:element minOccurs="0" name="ORG_PaymentTerm" nillable="true" type="tns:ORG_PaymentTerm" />
      <xs:element minOccurs="0" name="ORG_TRX_Header" nillable="true" type="tns:ArrayOfORG_TRX_Header" />
      <xs:element minOccurs="0" name="ORG_TRX_LostSale" nillable="true" type="tns:ArrayOfORG_TRX_LostSale" />
      <xs:element minOccurs="0" name="ORG_Type" nillable="true" type="tns:ORG_Type" />
      <xs:element minOccurs="0" name="OpenItem" type="xs:boolean" />
      <xs:element minOccurs="0" name="OverrideAccount" type="xs:boolean" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PaymentTermId" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="Prefix" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RepCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SalesmanCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StatementPreference" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TagCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TypeId" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="URL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ORG_Company" nillable="true" type="tns:ORG_Company" />
  <xs:complexType name="ArrayOfORG_CompanyAddress">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ORG_CompanyAddress" nillable="true" type="tns:ORG_CompanyAddress" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfORG_CompanyAddress" nillable="true" type="tns:ArrayOfORG_CompanyAddress" />
  <xs:complexType name="ORG_CompanyAddress">
    <xs:sequence>
      <xs:element minOccurs="0" name="AddressId" nillable="true" type="xs:long" />
      <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ChangeList" nillable="true" type="q8:ArrayOfstring" />
      <xs:element minOccurs="0" name="CompanyId" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="CreatedOn" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="HasChanges" type="xs:boolean" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="IgnoreChanges" type="xs:boolean" />
      <xs:element minOccurs="0" name="ORG_Company" nillable="true" type="tns:ORG_Company" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ORG_CompanyAddress" nillable="true" type="tns:ORG_CompanyAddress" />
  <xs:complexType name="ORG_CostCategory">
    <xs:sequence>
      <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ChangeList" nillable="true" type="q9:ArrayOfstring" />
      <xs:element minOccurs="0" name="HasChanges" type="xs:boolean" />
      <xs:element minOccurs="0" name="Id" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="IgnoreChanges" type="xs:boolean" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ORG_Company" nillable="true" type="tns:ArrayOfORG_Company" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ORG_CostCategory" nillable="true" type="tns:ORG_CostCategory" />
  <xs:complexType name="ArrayOfORG_Company">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ORG_Company" nillable="true" type="tns:ORG_Company" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfORG_Company" nillable="true" type="tns:ArrayOfORG_Company" />
  <xs:complexType name="ArrayOfORG_Distribution">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ORG_Distribution" nillable="true" type="tns:ORG_Distribution" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfORG_Distribution" nillable="true" type="tns:ArrayOfORG_Distribution" />
  <xs:complexType name="ORG_Distribution">
    <xs:sequence>
      <xs:element xmlns:q10="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ChangeList" nillable="true" type="q10:ArrayOfstring" />
      <xs:element minOccurs="0" name="CreatedBy" type="xs:long" />
      <xs:element minOccurs="0" name="CreatedOn" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CustomerCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DistributionNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DistributionTypeId" nillable="true" type="xs:short" />
      <xs:element minOccurs="0" name="EntityId" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="HasChanges" type="xs:boolean" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="IgnoreChanges" type="xs:boolean" />
      <xs:element minOccurs="0" name="InventoryViewLevel" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ORG_Company" nillable="true" type="tns:ORG_Company" />
      <xs:element minOccurs="0" name="ORG_DistributionType" nillable="true" type="tns:ORG_DistributionType" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Path" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SupplierCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TeccomHeader" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Url" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ViewCost" nillable="true" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ORG_Distribution" nillable="true" type="tns:ORG_Distribution" />
  <xs:complexType name="ORG_DistributionType">
    <xs:sequence>
      <xs:element xmlns:q11="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ChangeList" nillable="true" type="q11:ArrayOfstring" />
      <xs:element minOccurs="0" name="HasChanges" type="xs:boolean" />
      <xs:element minOccurs="0" name="Id" type="xs:short" />
      <xs:element minOccurs="0" name="IgnoreChanges" type="xs:boolean" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ORG_Distribution" nillable="true" type="tns:ArrayOfORG_Distribution" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ORG_DistributionType" nillable="true" type="tns:ORG_DistributionType" />
  <xs:complexType name="ORG_Entity">
    <xs:sequence>
      <xs:element xmlns:q12="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ChangeList" nillable="true" type="q12:ArrayOfstring" />
      <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="CreatedOn" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EntityId" type="xs:long" />
      <xs:element minOccurs="0" name="HasChanges" type="xs:boolean" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="IgnoreChanges" type="xs:boolean" />
      <xs:element minOccurs="0" name="Note" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ORG_Company" nillable="true" type="tns:ArrayOfORG_Company" />
      <xs:element minOccurs="0" name="RegistrationNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VatNumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ORG_Entity" nillable="true" type="tns:ORG_Entity" />
  <xs:complexType name="ArrayOfORG_History">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ORG_History" nillable="true" type="tns:ORG_History" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfORG_History" nillable="true" type="tns:ArrayOfORG_History" />
  <xs:complexType name="ORG_History">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" nillable="true" type="xs:decimal" />
      <xs:element xmlns:q13="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ChangeList" nillable="true" type="q13:ArrayOfstring" />
      <xs:element minOccurs="0" name="CompanyId" type="xs:long" />
      <xs:element minOccurs="0" name="HasChanges" type="xs:boolean" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="IgnoreChanges" type="xs:boolean" />
      <xs:element minOccurs="0" name="ORG_Company" nillable="true" type="tns:ORG_Company" />
      <xs:element minOccurs="0" name="PeriodId" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ORG_History" nillable="true" type="tns:ORG_History" />
  <xs:complexType name="ORG_PaymentTerm">
    <xs:sequence>
      <xs:element xmlns:q14="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ChangeList" nillable="true" type="q14:ArrayOfstring" />
      <xs:element minOccurs="0" name="HasChanges" type="xs:boolean" />
      <xs:element minOccurs="0" name="Id" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="IgnoreChanges" type="xs:boolean" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ORG_Company" nillable="true" type="tns:ArrayOfORG_Company" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ORG_PaymentTerm" nillable="true" type="tns:ORG_PaymentTerm" />
  <xs:complexType name="ArrayOfORG_TRX_Header">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ORG_TRX_Header" nillable="true" type="tns:ORG_TRX_Header" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfORG_TRX_Header" nillable="true" type="tns:ArrayOfORG_TRX_Header" />
  <xs:complexType name="ArrayOfORG_TRX_LostSale">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ORG_TRX_LostSale" nillable="true" type="tns:ORG_TRX_LostSale" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfORG_TRX_LostSale" nillable="true" type="tns:ArrayOfORG_TRX_LostSale" />
  <xs:complexType name="ORG_TRX_LostSale">
    <xs:sequence>
      <xs:element xmlns:q15="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ChangeList" nillable="true" type="q15:ArrayOfstring" />
      <xs:element minOccurs="0" name="CompanyId" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="CreatedBy" type="xs:long" />
      <xs:element minOccurs="0" name="CreatedOn" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HasChanges" type="xs:boolean" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="IgnoreChanges" type="xs:boolean" />
      <xs:element minOccurs="0" name="ORG_Company" nillable="true" type="tns:ORG_Company" />
      <xs:element minOccurs="0" name="Quantity" type="xs:decimal" />
      <xs:element minOccurs="0" name="Reason" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShortName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ORG_TRX_LostSale" nillable="true" type="tns:ORG_TRX_LostSale" />
  <xs:complexType name="ORG_Type">
    <xs:sequence>
      <xs:element xmlns:q16="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ChangeList" nillable="true" type="q16:ArrayOfstring" />
      <xs:element minOccurs="0" name="HasChanges" type="xs:boolean" />
      <xs:element minOccurs="0" name="Id" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="IgnoreChanges" type="xs:boolean" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ORG_Company" nillable="true" type="tns:ArrayOfORG_Company" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ORG_Type" nillable="true" type="tns:ORG_Type" />
  <xs:complexType name="ORG_TRX_ShippingType">
    <xs:sequence>
      <xs:element xmlns:q17="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ChangeList" nillable="true" type="q17:ArrayOfstring" />
      <xs:element minOccurs="0" name="HasChanges" type="xs:boolean" />
      <xs:element minOccurs="0" name="Id" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="IgnoreChanges" type="xs:boolean" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ORG_TRX_Header" nillable="true" type="tns:ArrayOfORG_TRX_Header" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ORG_TRX_ShippingType" nillable="true" type="tns:ORG_TRX_ShippingType" />
  <xs:complexType name="ArrayOfSYS_DOC_Line">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SYS_DOC_Line" nillable="true" type="tns:SYS_DOC_Line" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSYS_DOC_Line" nillable="true" type="tns:ArrayOfSYS_DOC_Line" />
  <xs:complexType name="SYS_DOC_Line">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" type="xs:decimal" />
      <xs:element minOccurs="0" name="AmountCredited" type="xs:decimal" />
      <xs:element minOccurs="0" name="AmountInvoiced" type="xs:decimal" />
      <xs:element xmlns:q18="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ChangeList" nillable="true" type="q18:ArrayOfstring" />
      <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="CreatedOn" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DiscountAmount" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="DiscountPercentage" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="FromJob" type="xs:boolean" />
      <xs:element minOccurs="0" name="HasChanges" type="xs:boolean" />
      <xs:element minOccurs="0" name="HeaderId" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="IBO_TRX_Header" nillable="true" type="tns:IBO_TRX_Header" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="IgnoreChanges" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsBOMCompleteResultItem" type="xs:boolean" />
      <xs:element minOccurs="0" name="ItemId" type="xs:long" />
      <xs:element minOccurs="0" name="ItemName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LineItem" nillable="true" type="tns:VW_LineItem" />
      <xs:element minOccurs="0" name="LineOrder" type="xs:int" />
      <xs:element minOccurs="0" name="Movement" nillable="true" type="tns:ITM_Movement" />
      <xs:element minOccurs="0" name="NewJobLine" type="xs:boolean" />
      <xs:element minOccurs="0" name="ParentLineId" type="xs:long" />
      <xs:element minOccurs="0" name="PriceChanged" type="xs:boolean" />
      <xs:element minOccurs="0" name="QtyOutstanding" type="xs:decimal" />
      <xs:element minOccurs="0" name="QtyReceived" type="xs:decimal" />
      <xs:element minOccurs="0" name="Quantity" type="xs:decimal" />
      <xs:element minOccurs="0" name="SYS_DOC_Header" nillable="true" type="tns:SYS_DOC_Header" />
      <xs:element minOccurs="0" name="SYS_Entity" nillable="true" type="tns:SYS_Entity" />
      <xs:element minOccurs="0" name="SYS_Person" nillable="true" type="tns:SYS_Person" />
      <xs:element minOccurs="0" name="Surcharge" nillable="true" type="tns:ArrayOfSYS_DOC_Line" />
      <xs:element minOccurs="0" name="Total" type="xs:decimal" />
      <xs:element minOccurs="0" name="TotalTax" type="xs:decimal" />
      <xs:element minOccurs="0" name="UnitAverage" type="xs:decimal" />
      <xs:element minOccurs="0" name="UnitCost" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SYS_DOC_Line" nillable="true" type="tns:SYS_DOC_Line" />
  <xs:complexType name="IBO_TRX_Header">
    <xs:sequence>
      <xs:element xmlns:q19="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ChangeList" nillable="true" type="q19:ArrayOfstring" />
      <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="CreatedOn" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Customer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerId" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="EntityId" type="xs:long" />
      <xs:element minOccurs="0" name="HasChanges" type="xs:boolean" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="IgnoreChanges" type="xs:boolean" />
      <xs:element minOccurs="0" name="Quantity" type="xs:decimal" />
      <xs:element minOccurs="0" name="Supplier" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SupplierId" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="UnitCost" type="xs:decimal" />
      <xs:element minOccurs="0" name="UnitPrice" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IBO_TRX_Header" nillable="true" type="tns:IBO_TRX_Header" />
  <xs:complexType name="ITM_Movement">
    <xs:sequence>
      <xs:element xmlns:q20="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ChangeList" nillable="true" type="q20:ArrayOfstring" />
      <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="CreatedOn" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="HasChanges" type="xs:boolean" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="IgnoreChanges" type="xs:boolean" />
      <xs:element minOccurs="0" name="LineId" type="xs:long" />
      <xs:element minOccurs="0" name="NewUnitAverage" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="NewUnitCost" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="NewUnitPrice" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="OnHand" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="OnHold" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="OnOrder" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="OnReserve" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="UnitAverage" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="UnitCost" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="UnitPrice" nillable="true" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ITM_Movement" nillable="true" type="tns:ITM_Movement" />
  <xs:complexType name="SYS_Entity">
    <xs:sequence>
      <xs:element minOccurs="0" name="Archived" type="xs:boolean" />
      <xs:element xmlns:q21="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ChangeList" nillable="true" type="q21:ArrayOfstring" />
      <xs:element minOccurs="0" name="CodeMain" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodeSub" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="CreatedOn" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HasChanges" type="xs:boolean" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="IgnoreChanges" type="xs:boolean" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SYS_DOC_Line" nillable="true" type="tns:ArrayOfSYS_DOC_Line" />
      <xs:element minOccurs="0" name="SYS_Person" nillable="true" type="tns:SYS_Person" />
      <xs:element minOccurs="0" name="SYS_Site" nillable="true" type="tns:ArrayOfSYS_Site" />
      <xs:element minOccurs="0" name="SYS_Surcharge" nillable="true" type="tns:ArrayOfSYS_Surcharge" />
      <xs:element minOccurs="0" name="SYS_Surcharge1" nillable="true" type="tns:ArrayOfSYS_Surcharge" />
      <xs:element minOccurs="0" name="SYS_Type" nillable="true" type="tns:SYS_Type" />
      <xs:element minOccurs="0" name="ShortName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TypeId" type="xs:unsignedByte" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SYS_Entity" nillable="true" type="tns:SYS_Entity" />
  <xs:complexType name="SYS_Person">
    <xs:sequence>
      <xs:element minOccurs="0" name="Archived" type="xs:boolean" />
      <xs:element xmlns:q22="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ChangeList" nillable="true" type="q22:ArrayOfstring" />
      <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="CreatedOn" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Fullname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HasChanges" type="xs:boolean" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="IgnoreChanges" type="xs:boolean" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SYS_Abbreviation" nillable="true" type="tns:ArrayOfSYS_Abbreviation" />
      <xs:element minOccurs="0" name="SYS_Address" nillable="true" type="tns:ArrayOfSYS_Address" />
      <xs:element minOccurs="0" name="SYS_DOC_Header" nillable="true" type="tns:ArrayOfSYS_DOC_Header" />
      <xs:element minOccurs="0" name="SYS_DOC_Line" nillable="true" type="tns:ArrayOfSYS_DOC_Line" />
      <xs:element minOccurs="0" name="SYS_Entity" nillable="true" type="tns:ArrayOfSYS_Entity" />
      <xs:element minOccurs="0" name="SYS_Layout" nillable="true" type="tns:ArrayOfSYS_Layout" />
      <xs:element minOccurs="0" name="SYS_Log" nillable="true" type="tns:ArrayOfSYS_Log" />
      <xs:element minOccurs="0" name="SYS_MSG_Message" nillable="true" type="tns:ArrayOfSYS_MSG_Message" />
      <xs:element minOccurs="0" name="SYS_MSG_Message1" nillable="true" type="tns:ArrayOfSYS_MSG_Message" />
      <xs:element minOccurs="0" name="SYS_Person1" nillable="true" type="tns:ArrayOfSYS_Person" />
      <xs:element minOccurs="0" name="SYS_Person2" nillable="true" type="tns:SYS_Person" />
      <xs:element minOccurs="0" name="SYS_Printer" nillable="true" type="tns:ArrayOfSYS_Printer" />
      <xs:element minOccurs="0" name="SYS_Surcharge" nillable="true" type="tns:ArrayOfSYS_Surcharge" />
      <xs:element minOccurs="0" name="SYS_Version" nillable="true" type="tns:ArrayOfSYS_Version" />
      <xs:element minOccurs="0" name="Surname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SYS_Person" nillable="true" type="tns:SYS_Person" />
  <xs:complexType name="ArrayOfSYS_Abbreviation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SYS_Abbreviation" nillable="true" type="tns:SYS_Abbreviation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSYS_Abbreviation" nillable="true" type="tns:ArrayOfSYS_Abbreviation" />
  <xs:complexType name="SYS_Abbreviation">
    <xs:sequence>
      <xs:element minOccurs="0" name="Abbreviation" nillable="true" type="xs:string" />
      <xs:element xmlns:q23="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ChangeList" nillable="true" type="q23:ArrayOfstring" />
      <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="CreatedOn" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HasChanges" type="xs:boolean" />
      <xs:element minOccurs="0" name="Id" type="xs:short" />
      <xs:element minOccurs="0" name="IgnoreChanges" type="xs:boolean" />
      <xs:element minOccurs="0" name="SYS_Person" nillable="true" type="tns:SYS_Person" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SYS_Abbreviation" nillable="true" type="tns:SYS_Abbreviation" />
  <xs:complexType name="ArrayOfSYS_Address">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SYS_Address" nillable="true" type="tns:SYS_Address" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSYS_Address" nillable="true" type="tns:ArrayOfSYS_Address" />
  <xs:complexType name="SYS_Address">
    <xs:sequence>
      <xs:element xmlns:q24="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ChangeList" nillable="true" type="q24:ArrayOfstring" />
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="CreatedOn" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="HasChanges" type="xs:boolean" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="IgnoreChanges" type="xs:boolean" />
      <xs:element minOccurs="0" name="Line1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Line2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Line3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Line4" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SYS_Person" nillable="true" type="tns:SYS_Person" />
      <xs:element minOccurs="0" name="SYS_Site" nillable="true" type="tns:ArrayOfSYS_Site" />
      <xs:element minOccurs="0" name="SYS_Site1" nillable="true" type="tns:ArrayOfSYS_Site" />
      <xs:element minOccurs="0" name="SYS_Type" nillable="true" type="tns:SYS_Type" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TypeId" type="xs:unsignedByte" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SYS_Address" nillable="true" type="tns:SYS_Address" />
  <xs:complexType name="ArrayOfSYS_Site">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SYS_Site" nillable="true" type="tns:SYS_Site" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSYS_Site" nillable="true" type="tns:ArrayOfSYS_Site" />
  <xs:complexType name="SYS_Site">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountEmailAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AccountEmailBCCAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AccountEmailDomain" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AccountEmailPassword" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AccountEmailUsername" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AutoWriteoffOpenItemCredits" type="xs:boolean" />
      <xs:element minOccurs="0" name="BackupLocation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BankAccountNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BankBranch" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BankCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BankName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BillingAddress" type="xs:long" />
      <xs:element minOccurs="0" name="BuyoutSupplierAccount" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="CODAccountLimit" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="CashierPaymentsFullAmount" type="xs:boolean" />
      <xs:element minOccurs="0" name="CashierRefreshIntervals" type="xs:short" />
      <xs:element xmlns:q25="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ChangeList" nillable="true" type="q25:ArrayOfstring" />
      <xs:element minOccurs="0" name="CopyInvoiceOrderNumbertoCreditNote" type="xs:boolean" />
      <xs:element minOccurs="0" name="Currency" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DebtorGracePeriod" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="DefaultInterestCharged" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="DefaultMessageDocument" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DefaultMessageStatement" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DistributionNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DocumentEmailAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DocumentEmailBCCAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DocumentEmailDomain" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DocumentEmailPassword" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DocumentEmailUsername" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmailAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EntityId" type="xs:long" />
      <xs:element minOccurs="0" name="FixedOrderCost" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="HasChanges" type="xs:boolean" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="IgnoreChanges" type="xs:boolean" />
      <xs:element minOccurs="0" name="LineTypeFilter" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaxOrderLines" nillable="true" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="MinimizeNavigation" type="xs:boolean" />
      <xs:element minOccurs="0" name="MonthWeight12" nillable="true" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="MonthWeight24" nillable="true" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="MonthWeight3" nillable="true" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="MonthWeight36" nillable="true" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="MonthWeight6" nillable="true" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="NegativeDiscountEffects" nillable="true" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="NotifyonBackOrder" type="xs:boolean" />
      <xs:element minOccurs="0" name="NotifyonZeroMarkupSale" type="xs:boolean" />
      <xs:element minOccurs="0" name="NotifyonZeroProfitSale" type="xs:boolean" />
      <xs:element minOccurs="0" name="PaymentAccounts" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrintServerLocation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrinterBarcode" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="PrinterPicker" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="PrinterReceipt" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="ProxyServerLocation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProxyServerPassword" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProxyServerUsername" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="QuoteValidDays" nillable="true" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="QuoteValidMax" nillable="true" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="RegistrationNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RoundingAmount" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="SMTPServerLocation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SYS_Address_BillingAddress" nillable="true" type="tns:SYS_Address" />
      <xs:element minOccurs="0" name="SYS_Address_ShippingAddress" nillable="true" type="tns:SYS_Address" />
      <xs:element minOccurs="0" name="SYS_Entity" nillable="true" type="tns:SYS_Entity" />
      <xs:element minOccurs="0" name="SYS_Printer_Barcode" nillable="true" type="tns:SYS_Printer" />
      <xs:element minOccurs="0" name="SYS_Printer_Picker" nillable="true" type="tns:SYS_Printer" />
      <xs:element minOccurs="0" name="SYS_Printer_Receipt" nillable="true" type="tns:SYS_Printer" />
      <xs:element minOccurs="0" name="SafetyStockPeriod" nillable="true" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="ShippingAddress" type="xs:long" />
      <xs:element minOccurs="0" name="Telephone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UpdateCheckTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UpdateURL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UseBarcodes" type="xs:boolean" />
      <xs:element minOccurs="0" name="UseLabels" type="xs:boolean" />
      <xs:element minOccurs="0" name="VatNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VatPercentage" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SYS_Site" nillable="true" type="tns:SYS_Site" />
  <xs:complexType name="SYS_Printer">
    <xs:sequence>
      <xs:element minOccurs="0" name="Archived" type="xs:boolean" />
      <xs:element xmlns:q26="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ChangeList" nillable="true" type="q26:ArrayOfstring" />
      <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="CreatedOn" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="HasChanges" type="xs:boolean" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="IgnoreChanges" type="xs:boolean" />
      <xs:element minOccurs="0" name="Location" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrinterModel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrinterType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SYS_Person" nillable="true" type="tns:SYS_Person" />
      <xs:element minOccurs="0" name="SYS_Site" nillable="true" type="tns:ArrayOfSYS_Site" />
      <xs:element minOccurs="0" name="SYS_Site1" nillable="true" type="tns:ArrayOfSYS_Site" />
      <xs:element minOccurs="0" name="SYS_Site2" nillable="true" type="tns:ArrayOfSYS_Site" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SYS_Printer" nillable="true" type="tns:SYS_Printer" />
  <xs:complexType name="SYS_Type">
    <xs:sequence>
      <xs:element xmlns:q27="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ChangeList" nillable="true" type="q27:ArrayOfstring" />
      <xs:element minOccurs="0" name="HasChanges" type="xs:boolean" />
      <xs:element minOccurs="0" name="Id" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="IgnoreChanges" type="xs:boolean" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SYS_Address" nillable="true" type="tns:ArrayOfSYS_Address" />
      <xs:element minOccurs="0" name="SYS_Entity" nillable="true" type="tns:ArrayOfSYS_Entity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SYS_Type" nillable="true" type="tns:SYS_Type" />
  <xs:complexType name="ArrayOfSYS_Entity">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SYS_Entity" nillable="true" type="tns:SYS_Entity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSYS_Entity" nillable="true" type="tns:ArrayOfSYS_Entity" />
  <xs:complexType name="ArrayOfSYS_DOC_Header">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SYS_DOC_Header" nillable="true" type="tns:SYS_DOC_Header" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSYS_DOC_Header" nillable="true" type="tns:ArrayOfSYS_DOC_Header" />
  <xs:complexType name="ArrayOfSYS_Layout">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SYS_Layout" nillable="true" type="tns:SYS_Layout" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSYS_Layout" nillable="true" type="tns:ArrayOfSYS_Layout" />
  <xs:complexType name="SYS_Layout">
    <xs:sequence>
      <xs:element xmlns:q28="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ChangeList" nillable="true" type="q28:ArrayOfstring" />
      <xs:element minOccurs="0" name="Custom" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HasChanges" type="xs:boolean" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="IgnoreChanges" type="xs:boolean" />
      <xs:element minOccurs="0" name="Original" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SYS_Person" nillable="true" type="tns:SYS_Person" />
      <xs:element minOccurs="0" name="Screen" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SystemOriginal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SYS_Layout" nillable="true" type="tns:SYS_Layout" />
  <xs:complexType name="ArrayOfSYS_Log">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SYS_Log" nillable="true" type="tns:SYS_Log" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSYS_Log" nillable="true" type="tns:ArrayOfSYS_Log" />
  <xs:complexType name="SYS_Log">
    <xs:sequence>
      <xs:element xmlns:q29="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ChangeList" nillable="true" type="q29:ArrayOfstring" />
      <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="CreatedOn" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EntityId" type="xs:long" />
      <xs:element minOccurs="0" name="FieldName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HasChanges" type="xs:boolean" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="IgnoreChanges" type="xs:boolean" />
      <xs:element minOccurs="0" name="NewValue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OldValue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SYS_Person" nillable="true" type="tns:SYS_Person" />
      <xs:element minOccurs="0" name="TableName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SYS_Log" nillable="true" type="tns:SYS_Log" />
  <xs:complexType name="ArrayOfSYS_MSG_Message">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SYS_MSG_Message" nillable="true" type="tns:SYS_MSG_Message" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSYS_MSG_Message" nillable="true" type="tns:ArrayOfSYS_MSG_Message" />
  <xs:complexType name="SYS_MSG_Message">
    <xs:sequence>
      <xs:element xmlns:q30="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ChangeList" nillable="true" type="q30:ArrayOfstring" />
      <xs:element minOccurs="0" name="FromId" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="HasChanges" type="xs:boolean" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="IgnoreChanges" type="xs:boolean" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Received" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="ReceivedOn" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SYS_Person" nillable="true" type="tns:SYS_Person" />
      <xs:element minOccurs="0" name="SYS_Person1" nillable="true" type="tns:SYS_Person" />
      <xs:element minOccurs="0" name="Sent" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="SentOn" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ToId" nillable="true" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SYS_MSG_Message" nillable="true" type="tns:SYS_MSG_Message" />
  <xs:complexType name="ArrayOfSYS_Person">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SYS_Person" nillable="true" type="tns:SYS_Person" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSYS_Person" nillable="true" type="tns:ArrayOfSYS_Person" />
  <xs:complexType name="ArrayOfSYS_Printer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SYS_Printer" nillable="true" type="tns:SYS_Printer" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSYS_Printer" nillable="true" type="tns:ArrayOfSYS_Printer" />
  <xs:complexType name="ArrayOfSYS_Surcharge">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SYS_Surcharge" nillable="true" type="tns:SYS_Surcharge" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSYS_Surcharge" nillable="true" type="tns:ArrayOfSYS_Surcharge" />
  <xs:complexType name="SYS_Surcharge">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountId" type="xs:long" />
      <xs:element minOccurs="0" name="Amount" type="xs:decimal" />
      <xs:element xmlns:q31="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ChangeList" nillable="true" type="q31:ArrayOfstring" />
      <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="CreatedOn" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EntityId" type="xs:long" />
      <xs:element minOccurs="0" name="HasChanges" type="xs:boolean" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="IgnoreChanges" type="xs:boolean" />
      <xs:element minOccurs="0" name="SYS_Entity" nillable="true" type="tns:SYS_Entity" />
      <xs:element minOccurs="0" name="SYS_Entity_Account" nillable="true" type="tns:SYS_Entity" />
      <xs:element minOccurs="0" name="SYS_Person" nillable="true" type="tns:SYS_Person" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SYS_Surcharge" nillable="true" type="tns:SYS_Surcharge" />
  <xs:complexType name="ArrayOfSYS_Version">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SYS_Version" nillable="true" type="tns:SYS_Version" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSYS_Version" nillable="true" type="tns:ArrayOfSYS_Version" />
  <xs:complexType name="SYS_Version">
    <xs:sequence>
      <xs:element xmlns:q32="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ChangeList" nillable="true" type="q32:ArrayOfstring" />
      <xs:element minOccurs="0" name="ClientDirector" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="ClientUpdate" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="CreatedOn" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HasChanges" type="xs:boolean" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="IgnoreChanges" type="xs:boolean" />
      <xs:element minOccurs="0" name="ModifiedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ModifiedOn" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SYS_Person" nillable="true" type="tns:SYS_Person" />
      <xs:element minOccurs="0" name="Version" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VersionPadded" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WebDirector" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="WebUpdate" nillable="true" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SYS_Version" nillable="true" type="tns:SYS_Version" />
  <xs:complexType name="SYS_DOC_Type">
    <xs:sequence>
      <xs:element minOccurs="0" name="BalanceModifier" type="xs:short" />
      <xs:element xmlns:q33="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ChangeList" nillable="true" type="q33:ArrayOfstring" />
      <xs:element minOccurs="0" name="HasChanges" type="xs:boolean" />
      <xs:element minOccurs="0" name="HoldingModifier" type="xs:short" />
      <xs:element minOccurs="0" name="Id" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="IgnoreChanges" type="xs:boolean" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SYS_DOC_Header" nillable="true" type="tns:ArrayOfSYS_DOC_Header" />
      <xs:element minOccurs="0" name="StockModifier" type="xs:short" />
      <xs:element minOccurs="0" name="TypeGuid" nillable="true" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SYS_DOC_Type" nillable="true" type="tns:SYS_DOC_Type" />
  <xs:complexType name="SYS_Tracking">
    <xs:sequence>
      <xs:element minOccurs="0" name="Archived" type="xs:boolean" />
      <xs:element xmlns:q34="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ChangeList" nillable="true" type="q34:ArrayOfstring" />
      <xs:element minOccurs="0" name="HasChanges" type="xs:boolean" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="IgnoreChanges" type="xs:boolean" />
      <xs:element minOccurs="0" name="Initiator" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SYS_DOC_Header" nillable="true" type="tns:ArrayOfSYS_DOC_Header" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SYS_Tracking" nillable="true" type="tns:SYS_Tracking" />
</xs:schema>