CDSDesktop/CDS.Client.BusinessLayer/Service References/CDSWebService/CDSService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CDS.Client.DataAccessLayer.Types" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CDS.Client.DataAccessLayer.Types" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfStatement">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Statement" nillable="true" type="tns:Statement" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStatement" nillable="true" type="tns:ArrayOfStatement" />
  <xs:complexType name="Statement">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Contact" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EntityId" type="xs:long" />
      <xs:element minOccurs="0" name="HasMailed" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="HasPrinted" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShouldEmail" type="xs:boolean" />
      <xs:element minOccurs="0" name="ShouldPrint" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Statement" nillable="true" type="tns:Statement" />
</xs:schema>